<h1>Hello, Rails!</h1>

<ul>
  <li><%= link_to 'Articles', articles_path %></li>
  <li><%= link_to 'Cars', cars_path %></li>
  <li><%= link_to 'Drivers', drivers_path %></li>
  <li><%= link_to 'Drivers and Cars', driversandcars_path %></li>
</ul>
