<h1>Listing Drivers</h1>

<table border=1>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of birth</th>
    <th>Cars</th>
  </tr>
 
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= driver.name %></td>
      <td><%= driver.email %></td>
      <td><%= driver.birthday %></td>
      <td>
        <ol>
          <% driver.cars.map(&:title).each do |title| %>
            <li><%= title %></li>
          <% end %>
        </ol>
      </td>
    </tr>
  <% end %>
</table>
